p {
    font-size: 18px;
    /* text-shadow: 0px 5px 10px; */
}

.welcome_text {
    font-size: 2vw;
    color: rgb(19, 19, 19);
}

.text_nums_tel {
    font-family: auto;
    text-decoration-line: none;
    font-size: 36px;
    color: black;
}


.title_service {
    /* color: white; */
}

.text_center {
    /* background-color: aquamarine;  */
    /* цвет для отладки */
    text-align: center;
}

.color-grey {
    color: rgb(187, 187, 187);
}

.block_text-shadow {
    text-shadow: 0px 0px 0px;
    
    transition: text-shadow 1s;
}
    .block_text-shadow:hover {
        text-shadow: 0px 1px 10px;
    }